// Theme Variables

/* Highlight Color */
$highlight-color: #4eadcf;

$gray-dark: #666;
$gray: #aaa;
$gray-light: #ddd;

/* Screen Sizes */
$screen-sm: 568px;
$screen-md: 768px;
$screen-lg: 900px;
$screen-xl: 1200px;
