// Theme Variables

/* Highlight Color */
$highlight-blue: #4eadcf;
$highlight-red: #D82555;
$highlight-blog: $highlight-blue;

$gray-dark: #666;
$gray: #aaa;
$gray-light: #ddd;

/* Screen Sizes */
$screen-sm: 568px;
$screen-md: 768px;
$screen-lg: 900px;
$screen-xl: 1200px;
