<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

{% capture page_title %}
  {% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}
{% endcapture %}

<title>{{ page_title | escape | strip }}</title>
<meta content="{{ site.description | escape | strip }}" name="description" />


<meta name="twitter:site" content="@{{ site.twitter }}" />
<meta name="twitter:title" content="{{ page_title | escape | strip }}" />

<meta property="og:title" content="{{ page_title | escape | strip }}" />
<meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}" />

{% if page.image %}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="{{ page.image }}" />
{% else %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:image" content="{{ site.url}}/assets/images/logo-square.png" />

<meta property="og:type" content="website" />
<meta property="og:image" content="{{ site.url }}/assets/images/logo-square.png" />
{% endif %}


<meta property="og:site_name" content="{{ site.title }}" />

{% if page.excerpt %}
<meta name="twitter:description" content="{{ page.excerpt | escape | strip }}" />
<meta property="og:description" content="{{ page.excerpt | escape | strip }}" />
{% else %}
<meta name="twitter:description" content="{{ site.description | escape | strip }}" />
<meta property="og:description" content="{{ site.description | escape | strip }}" />
{% endif %}

<link rel="alternate" type="application/rss+xml"
  title="{{ site.title }}"
  href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

<link rel="stylesheet" href="{{ site.asset_host }}/assets/css/main.css">

{% if site.environment == "production" %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74698043-1', 'auto');
  ga('send', 'pageview');
</script>
{% endif %}
