<div id='navigation'>
  <div class="pure-g">
    <div class="pure-u-1-1">
      <div class="pure-menu pure-menu-horizontal">
        <a id="logo" href="/">
          <img src="/assets/images/logo.png" alt="{{ site.title }}">
          <h1>{{ site.title }}</h1>
        </a>

        <ul class="pure-menu-list">

          <li class="pure-menu-item">
            <a href="/blog" class="pure-menu-link">Blog</a>
          </li>
          <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">Get in touch</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
